BasedOnStyle: LLVM
IndentWidth: 4
AlignAfterOpenBracket: DontAlign
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: true
  AfterClass: true
  BeforeElse: false

KeepEmptyLinesAtTheStartOfBlocks: false